@import 'bootstrap-custom'
$small-spinner-size: 28px

.spinner
  display: inline-block
  background-image: url("../images/spinner.gif")
  background-size: cover
  vertical-align: bottom
  float: right
  &_small
    width: $small-spinner-size
    height: $small-spinner-size